.page-container {
    background-color: #e1e2e3;
    padding: 30px;
    min-height: 100vh;
    flex: 1;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.report-card {
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    max-width: 900px;
    margin: auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.report-card h2 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #000000;
    font-weight: 200;
}

.highlight {
    font-weight: 600;
    color: #575757;
}

.expiry-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.expiry-table th,
.expiry-table td {
    border: 1px solid #000000;
    padding: 12px;
    text-align: left;
    color: #000000;
}

.expiry-table th {
    background-color:  #dcdada;
    font-weight: 600;
}

/* .expiry-table tr:nth-child(even) {
    background-color: #b3b1b1;
} */

.expiry-table tr:hover {
    background-color: #f1f1f1;
}
