.page-container {
  background: #fff;
  padding: 20px;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9fafb;
  padding: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn {
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.primary {
  background: #112d52;
  color: #fff;
}

.refresh {
  background: #0ea5e9;
  color: white;
}

.show-online {
  background: #a11e5a;
  color: white;
}

.message-box {
  border: 1px solid #fca5a5;
  background: #fff1f1;
  color: #dc2626;
  padding: 10px 16px;
  border-radius: 3px;
  font-size: 0.95rem;
  min-width: 350px;
  text-align: center;
}

.map-container {
  width: 100%;
  height: 800px;
  margin-top: 0px;
  border-radius: 3px;
  border: 1px solid #ddd;
}

.loading {
  text-align: center;
  font-size: 18px;
  color: #007bff;
  margin-top: 20px;
}
