/* .salesperson-page {
  background-color: #fff;
  min-height: 100vh;
  padding: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.salesperson-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.salesperson-header h2 {
  color: #000;
  font-size: 1.3rem;
  font-weight: 500;
}

.highlight {
  font-weight: 300;
}

.add-btn {
  background-color: #1e3a5f;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.9rem;
}

.add-btn:hover {
  background-color: #2b4f7c;
}

.divider {
  border: 0;
  border-top: 1px solid #ddd;
  margin-top: 10px;
}

.search-section {
  margin-top: 12px;
  display: flex;
  justify-content: flex-end;
  gap: 6px;
}

.search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
  font-size: 0.9rem;
}

.search-btn {
  background-color: #00a0d2;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.9rem;
}

.search-btn:hover {
  background-color: #008dbf;
}

.salesperson-list {
  margin-top: 20px;
}

.sales-card {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
  margin-bottom: 15px;
}

.sales-card:hover {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.sales-left {
  display: flex;
  align-items: center;
  gap: 14px;
}

.profile-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ccc;
}

.sales-info {
  color: #000;
  line-height: 1.4;
}

.sales-name {
  font-size: 1rem;
  font-weight: 700;
}

.sales-fullname {
  color: #555;
  font-size: 0.9rem;
  margin-bottom: 3px;
}

.sales-email a {
  color: #0078d4;
  text-decoration: none;
  font-size: 0.9rem;
}

.sales-email a:hover {
  text-decoration: underline;
}

.sales-details-row {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 4px;
}

.sales-contact {
  color: #000;
  font-weight: 600;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 5px;
}

.sales-designation {
  color: #5c3a3a;
  font-size: 0.85rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
}

.sales-country {
  font-size: 0.85rem;
  color: #333;
}

.sales-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.view-btn {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.9rem;
}

.change-btn {
  background-color: #1f3b63;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.9rem;
}

.view-btn:hover,
.change-btn:hover {
  opacity: 0.9;
}

.no-data {
  text-align: center;
  font-size: 0.95rem;
  color: #555;
  margin-top: 30px;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-container {
  background: #fff;
  border-radius: 4px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
  animation: fadeIn 0.3s ease;
}

.modal-header {
  background: #f5f5f5;
  padding: 20px 15px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
}

.modal-header h3 {
  margin: 0;
  font-weight: 600;
}

.close-btn {
  font-size: 0.9rem;
  color: #333;
  cursor: pointer;
}

.modal-body {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-body label {
  font-weight: 600;
  font-size: 0.95rem;
}

.modal-body input {
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
  width: 90%;
  font-size: 0.9rem;
}

.update-btn {
  background-color: #00a0d2;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  width: 97%;
  font-size: 1rem;
}

.update-btn:hover {
  background-color: #008dbf;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
} */
