.salesperson-page {
  background-color: #fff;
  min-height: 100vh;
  padding: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.salesperson-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.salesperson-header h2 {
  color: #000;
  font-size: 1.5rem;
  font-weight: 600;
}

.highlight {
  font-weight: 300;
}

.add-btn {
  background-color: #1e3a5f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

.add-btn:hover {
  background-color: #2b4f7c;
}

/* Divider */
.divider {
  border: 0;
  border-top: 2px solid #000;
  margin-top: 10px;
}

/* Search Section */
.search-section {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 240px;
}

.search-btn {
  background-color: #00a0d2;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
}

.search-btn:hover {
  background-color: #008dbf;
}

/* Salesperson Cards */
.salesperson-list {
  margin-top: 20px;
}

.sales-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
  margin-bottom: 20px;
}

.sales-card:hover {
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.12);
}

.sales-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ccc;
}

.sales-info {
  color: #000;
}

.sales-name {
  font-size: 1.1rem;
  font-weight: 700;
  color: #000;
}

.sales-fullname {
  font-size: 0.95rem;
  color: #555;
}

.sales-email a {
  color: #0078d4;
  text-decoration: none;
}

.sales-email a:hover {
  text-decoration: underline;
}

.sales-contact {
  font-size: 0.95rem;
  font-weight: 600;
}

.sales-designation,
.sales-country {
  font-size: 0.9rem;
  color: #444;
}

.sales-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.view-btn {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 300;
}

.change-btn {
  background-color: #1f3b63;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 300;
}

.view-btn:hover,
.change-btn:hover {
  opacity: 0.9;
}


.no-data {
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  color: #000;
  margin-top: 30px;
}
