/* @tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f3f4f6;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background-color: #121212;
  color: white;
  font-family: sans-serif;
} */
