.push-container {
  background: #fff;
  padding: 30px;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid #e0e0e0;
}

.push-container h3 {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  margin-bottom: 30px;
}

.push-container h3 b {
  font-weight: 700;
}

.divider {
  border: 0;
  border-top: 3px solidrgb(151, 147, 147)d;
  margin-top: 10px;
}


.form-section {
  margin-bottom: 25px;
}

.label {
  display: block;
  font-weight: 600;
  color: #444444;
  margin-bottom: 10px;
  font-size: 15px;
}

.radio-group label,
.checkbox-group label {
  margin-right: 20px;
  color: #444444;
  font-size: 15px;
}

textarea {
  width: 50%;
  height: 100px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  resize: none;
  font-size: 14px;
  color: #333333;
  outline: none;
}

textarea:focus {
  border-color: #66afe9;
  box-shadow: 0 0 3px rgba(102, 175, 233, 0.6);
}

.button-group {
  background: #f5f7f9;
  padding: 20px;
  border-top: 1px solid #e0e0e0;
  display: flex;
  gap: 20px;
}

.btn {
  padding: 8px 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
}

.btn-send {
  background: #00b7e9;
  color: white;
}

.btn-send:hover {
  background: #009bc8;
}

.btn-cancel {
  background: white;
  color: #333333;
  border: 1px solid #ccc;
}

.btn-cancel:hover {
  background: #f2f2f2;
}
