.page-container {
  background: #f2f4f7;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 70px 0px;
  width: 100%;
}

.push-container {
  background: #ffffff;
  width: 100%;
  max-width: 1000px;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  overflow: hidden; 
}

.push-container h3 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
  padding: 20px 30px 10px 30px;
  border-bottom: 2px solid #e0e0e0; 
}


.push-container h3 b {
  font-weight: 700;
  color: #111;
}

.form-section {
  margin-bottom: 25px;
  padding: 0 30px;
}

.label {
  display: block;
  font-weight: 600;
  color: #444444;
  margin-bottom: 10px;
  font-size: 15px;
}

.radio-group label,
.checkbox-group label {
  margin-right: 20px;
  color: #444444;
  font-size: 15px;
}

textarea {
  width: 60%;
  height: 100px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  resize: both;
  font-size: 14px;
  color: #333;
  outline: none;
}

textarea:focus {
  border-color: #00b7e9;
  box-shadow: 0 0 3px rgba(0, 183, 233, 0.5);
}

.button-group {
  background: #f5f7f9;
  padding: 20px 30px;
  border-top: 1px solid #e0e0e0;
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  width: 100%;
}

.btn {
  padding: 8px 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
}

.btn-send {
  background: #00b7e9;
  color: white;
}

.btn-send:hover {
  background: #009bc8;
}

.btn-cancel {
  background: white;
  color: #333;
  border: 1px solid #ccc;
}

.btn-cancel:hover {
  background: #f2f2f2;
}

input[type="radio"],
input[type="checkbox"] {
  accent-color: #0096b8; 
  width: 18px;
  height: 18px;
  cursor: pointer;
}

